
<div class="main">

  <div class="level-name-main">
  <div class="level-one">
    <div class="inventory-button">
            <div class="inventory-text">
              <span>INVENTORY <br> COUNTS</span>
            </div>
            <span class="inventory-sub-text">
              <div>
                Just a Quarter-End Ritual? Think Again! <br>
                <b>Click to Discover & Win!</b>
              </div>
            </span>
            <div><img src="../assets/white-line.png" alt="INVENTORY COUNTS"></div>
          </div>
  </div>
  </div>


 <div class="level-two-main">
  <div class="level-two">
 <div class="long-text">
  <p>
            HUL held inventory worth INR 4,161<sup>*</sup> Crore as of 31st March 2025
            and during the June Quarter, our owned factories churned out
            an average of 2.37<sup>*</sup> Lakh Tonnes of finished products per month.
            Inventory counts are crucial for optimizing supply chain decisions,
            reducing waste, and ensuring product availability to meet customer
            demand efficiently.
            </p>
            <p>

            What if we told you that a single inventory count could make or break
            your financial accuracy? Dive into this interactive mail to uncover the
            secrets behind Unilever's global stock counting standards. Click, learn,
            and stand a chance to win UR Awesome Points.
            </p>
          </div>

 <div class="container">
            <div class="btn-grid">
              <span class="button"> 
 <a href="javascript:void(0)" class="btn-item" (click)="openModal1()">
              <span>Why Inventory<br>Counts Matter</span>
            </a>
              </span>
              <span class="button"> 
  <a href="javascript:void(0)" class="btn-item" (click)="openModal2()">
              <span>The Golden Rules<br>of Counting</span>
            </a>
              </span>

              <span class="button"> 
<a href="javascript:void(0)" class="btn-item" (click)="openModal3()">
              <span>Automated vs Non-<br>Automated Warehouses</span>
            </a>
              </span>

             <span class="button"> 
 <a href="javascript:void(0)" class="btn-item" (click)="openModal4()">
              <span>Documentation & <br>Approvals</span>
            </a>
              </span>

              <span class="button"> 
 <a href="#level-three"      [ngStyle]="{ 'opacity': allInfoVisited ? '1' : '0.3', 'pointer-events': allInfoVisited ? 'auto' : 'none' }"
   class="btn-item">
              <span>Test Your <br>Knowledge & Win!</span>
            </a>
              </span>
           
             <span class="button"> 
 <a href="#level-three"      [ngStyle]="{ 'opacity': allInfoVisited ? '1' : '0.3', 'pointer-events': allInfoVisited ? 'auto' : 'none' }"
   class="btn-item">
              <span>We Value <br>Your Feedback</span>
            </a>
              </span>            
           
            </div>
          </div>

<div class="four-box-content">* Please go through the first four boxes before attempting the quiz</div>

  </div>
  </div>

<div class="level-three-main">
  <div class="level-three" id="level-three">
    <div class="inventory-challenge-container">
          <div class="title-section">
            <div class="title-background">
              <h1 class="challenge-title">WELCOME TO INVENTORY AUDIT CHALLENGE</h1>
            </div>
           
          </div>
          <div> <p class="challenge-description">
              Test your knowledge, find hidden surprises,
               and sharpen your compliance skills.
            </p></div>
          <div class="user-form">
            <div class="form-field">             
              <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="ENTER YOUR EMAIL ID">
            </div>
          </div>
        
          <div class="gifts-grid">
            <div class="gift-item" (click)="openQuizModal(quizzes[0])">
              <img src="assets/gift-box.png" alt="Gift Box" class="gift-image">
            </div>
            <div class="gift-item" (click)="openQuizModal(quizzes[1])">
              <img src="assets/gift-box.png" alt="Gift Box" class="gift-image">
            </div>
            <!-- <div class="gift-item" (click)="openQuizModal(quizzes[2])">
              <img src="assets/gift-box.png" alt="Gift Box" class="gift-image">
            </div> -->
            <div class="gift-item" (click)="openQuizModal(quizzes[2])">
              <img src="assets/gift-box.png" alt="Gift Box" class="gift-image">
            </div>
            <div class="gift-item" (click)="openQuizModal(quizzes[3])">
              <img src="assets/gift-box.png" alt="Gift Box" class="gift-image">
            </div>
            <div class="gift-item" (click)="openQuizModal(quizzes[4])">
              <img src="assets/gift-box.png" alt="Gift Box" class="gift-image">
            </div>
          </div>
        
        </div> 
  </div>
  </div>



<div class="level-four-main">
     <div class="level-four">
              <div class="submission-container">
            <button
             class="feedback-button">
              <div class="feedback-container" (click)="submitQuiz()">
                <img src="../assets/feedback.png" alt="Provide Feedback" class="feedback-image">
                <span class="feedback-text">FEEDBACK FORM</span>
              </div>
            </button>

           <div class="feeback-text">* Feedback submission will also submit your quiz.</div>
            
        </div>

     </div>
     </div>
  
</div>