

body {
  font-family: "Montserrat", sans-serif;
}

.my-big-modal .modal-content {
    background: transparent; /* Make the problematic background disappear */
    border: none; /* Remove the default border */
  }


  .custom-fixed-modal{
    background: url('assets/quiz-background.jpg') no-repeat top center;
    background-size: 600px 100vh;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    width: 600px;
  }

  .modal-content {
  background-color: transparent !important;
}